main{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1em;
    margin-left: 1em;
    gap: 1em;

    font-size: larger;
}

main select{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.4em;

    border: none;
    background-color: #ccc;
    border-radius: 5px;
}
