.form-ended-time {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--card-background);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.form-ended-time h2, .form-ended-time p {
  margin: 0;
}

.form-ended-time .actions {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.form-ended-time button {
  width: 45%;
}

.form-ended-time button:last-child {
  background-color: var(--kanban-green);
}